body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: url(covid-19-vids-imgs/images/background-img.jpg) center/cover fixed no-repeat;
}
.header-navbar{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .6s;
    background-color: #EFF6FF;
    padding: 15px 40px;
    z-index: 1000000;
}
.header-navbar.sticky{
    position: fixed;
    padding: 17px 45px;
    background-color: #FF4202;
}
.header-navbar .nav-logo{
    position: relative;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #4E73B9;
    transition: .6s;
    margin-top: 10px;
}
#toggle{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #154366;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#toggle::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 2px;
    background: #EFF6FF;
    transform: translateY(-5px);
    transition: .2s;
}
#toggle::after{
    content: '';
    position: absolute;
    width: 26px;
    height: 2px;
    background: #EFF6FF;
    transform: translateY(5px);
    transition: .2s;
}
#toggle.active::before{
    transform: translateY(0px);
    transform: rotate(45deg);
}
#toggle.active::after{
    transform: translateY(0px);
    transform: rotate(-45deg);
}
#sidebar{
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: #4E73B9;
    transition: .5s;
}
#sidebar.active{
    left: 0;
}
#sidebar ul{
    position: relative;
    margin-top: 50px;
    padding: 0 !important;
}
#sidebar ul li{
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 25px 40px;
}
#sidebar ul li:hover{
    background-color: #6f92bc;
}
#sidebar ul li a{
    color: #EFF6FF;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.header-navbar .main-nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.header-navbar .main-nav ul li{
    position: relative;
    list-style: none;
}
.header-navbar .main-nav ul li a{
    position: relative;
    margin: 0 15px;
    color: #382D15;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
.header-navbar .main-nav ul li a:hover{text-decoration: underline;}
.header-navbar.sticky .nav-logo,
.header-navbar.sticky .main-nav ul li a{
    color: #fff;
}
@media only screen and (max-width : 768px){
    .header-navbar .nav-logo{
        text-decoration: none;
        font-size: 1.3rem;
        margin-top: 6px;
    }
    .header-navbar .main-nav ul{
        display: none;
    }
}
@media only screen and (min-width : 768px){
    #toggle{
        display: none;
    }
}
.section1{
    height: 100vh;
    width: 100%;
    background: url(covid-19-vids-imgs/images/home-bg.jpg) center/cover fixed;
}
.section1 .sect-1-content h3{
    font-size: 36px;
    color: #154366;
}
.section1 .sect-1-content h5{
    font-size: 28px;
    color: #6f92bc;
}
.section1 .sect-1-content .btn{
    font-size: larger;
    background-color: #3B6082;
    border: none;
}
.section2{
    min-height: 100%;
    width: 100%;
    background-color: #fff;
}
.section2 .sect-2-header{
    padding: 10px;
    font-size: 34px;
    color: #4B627A;
}
.section2 .col{
    min-height: 250px;
    padding: 10px 0;
}
.section2 .col figcaption{
    padding: 0 35px;
}
.section2 .col figcaption h5{
    color: #3B6082;
}
.section2 .col figcaption p{
    font-size: 16px;
    color: #154366;
}
.section2 img{
    width: 150px;
}

.section3{
    min-height: 100%;
    width: 100%;
    background-color: transparent;
}
.section3 .sect-3-header{
    color: #4B627A;
    padding: 10px;
    font-size: 34px;
}
.section3 .col img{
    min-width: 135px;
    height: 175px;
}
.section3 figure figcaption{
    color: #154366;
}
@media only screen and (max-width : 768px){
    .section3 .col img{
        min-width: 90px;
        height: 140px;
    }
}
@media only screen and (max-width : 600px){
    .section3 .col img{
        min-width: 80px;
        height: 130px;
    }
}
.section4{
    min-height: 100%;
    width: 100%;
    background-color: #fff;
}
.sect-4-header{
    color: #4B627A;
    font-size: 34px;
}
.section4 .box-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 7px 2.5px rgba(0, 0, 0, 0.1);
    padding: 0 !important;
    width: 98%;
}
.section4 .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    padding: 10px;
}
.box-container h3{
    width: 100%;
    text-align: center;
    padding: 2.5px;
    color: white;
}
.box-container .first-box-header{
    background-color: #3A6184;
}
.box-container .second-box-header{
    background-color: #FF4202;
}
.first-box h5{
    color: #3A6184;
}
.second-box h5{
    color: #FF4202;
}
.section5{
    min-height: 100%;
    width: 100%;
    background-color: transparent;
}
.sect-5-header{
    color: #4B627A;
    font-size: 34px;
}
.section5 .doctor-box{
    width: 250px;
    min-height: 250px;
    margin: 7px auto;
}
.section5 .doctor-box .doctor-img{
    border-radius: 50%;
    background-color: #4E73B9;
    height: 175px;
    width: 175px;
    position: relative;
    margin: auto;
}
.section5 .doctor-box img{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.doctor-box h5{
    font-size: 25px;
    color: #3B6082;
}
.doctor-box p{
    font-size: 17px;
    color: #FF4202;
}
.section5 .social-medias{
    display: flex;
    justify-content: center;
}
.section5 .social-medias i{
    font-size: large;
    padding: 0 7px;
    color: #4B627A;
}
.section6{
    min-height: 100%;
    width: 100%;
    background-color: #fff;
}
.sect-6-header{
    color: #4B627A;
    font-size: 34px;
}
.section6 .col-lg-4 img{
    height: 500px;
}
.section6 .col img{
    min-width: 135px;
    height: 175px;
}
@media only screen and (max-width : 768px){
    .section6 .col img{
        min-width: 90px;
        height: 140px;
    }
}
@media only screen and (max-width : 600px){
    .section6 .col img{
        min-width: 80px;
        height: 130px;
    }
}
footer{
    padding: 10px 0;
    background-color: transparent;
}
footer .social-medias i{
    color: #154366;
    font-size: 25px;
    padding: 0 15px;
}
footer .social-medias i:hover{
    color: #FF4202;
}
.rights-reserve{
    background-color: #FF4202;
    color: #fff;
    overflow: hidden;
}